################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eCom.CodingChallenge.UI/node_modules
/eCom.CodingChallenge
/TestResults/7fcdafb6-bd69-4d1a-baf4-d8ff54a94a1e
/eCom.UnitTests/obj
/eCom.UnitTests/bin/Debug/net6.0
/eCom.UnitTests
/eCom.TestUtilities/obj
/eCom.TestUtilities/bin/Debug/net6.0
/eCom.TestUtilities
/eCom.IntegrationTests/obj
/eCom.IntegrationTests/bin/Debug/net6.0
/eCom.IntegrationTests
/eCom.CodingChallenge.UI/.angular/cache/14.2.6/babel-webpack
/eCom.CodingChallenge.UI/.angular/cache/14.2.6/angular-webpack
/eCom.CodingChallenge.UI/.angular/cache/14.2.6
/eCom.CodingChallenge.Infrastructure/obj
/eCom.CodingChallenge.Infrastructure/bin/Debug/net6.0
/eCom.CodingChallenge.Infrastructure
/eCom.CodingChallenge.Domain/obj
/eCom.CodingChallenge.Domain/bin/Debug/net6.0
/eCom.CodingChallenge.Domain
/eCom.CodingChallenge.Contracts/obj
/eCom.CodingChallenge.Contracts/bin/Debug/net6.0
/eCom.CodingChallenge.Contracts
/eCom.CodingChallenge.Clients/obj
/eCom.CodingChallenge.Clients/bin/Debug/net6.0
/eCom.CodingChallenge.Clients
/eCom.CodingChallenge.Business/obj
/eCom.CodingChallenge.Business/bin/Debug/net6.0
/eCom.CodingChallenge.Business
/.vs/eCom.CodingChallenge/v17
